# SPDX-License-Identifier: Apache-2.0

CONFIG_NIOS2=y
CONFIG_SOC_NIOS2E_ZEPHYR=y
CONFIG_BOARD_ARROW_MAX1000=y
CONFIG_HAS_ALTERA_HAL=y
CONFIG_CONSOLE=y
CONFIG_PRINTK=y
CONFIG_SERIAL=y
CONFIG_UART_ALTERA_JTAG=y
CONFIG_UART_CONSOLE=y
